body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #2e8bc0;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e8bc0;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}